@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/Pru33qjShpZSmG3z6VYwnT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/Xyjz-jNkfiYuJf8UC3Lizw.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/oOeFwZNlrTefzLYmlVV1UD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/97uahxiqZRoncBaCEI3aWz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/7m8l7TlFO-S3VkhHuR0at9Ih4imgI8P11RFo6YPCPC0.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/dFWsweFqlD8ExfyN7Gh_GPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/OLffGBTaF0XFOW1gnuHF0dIh4imgI8P11RFo6YPCPC0.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/t6Nd4cfPRhZP44Q5QAjcC9Ih4imgI8P11RFo6YPCPC0.woff) format('woff');
}


* {
    margin: 0;
    box-sizing: border-box;
}



header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 20px 35px;
    background: #180113;

    /*background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );*/

    width: 100%;
    margin-bottom: 20px;
}

@media only screen and (min-width: 992px) {
    input {
        min-width: 250px;
        max-width: 300px;
    }
}


@media only screen and (max-width: 530px) {
    header .logo {
        padding-bottom: 15px;
    }

    header {
        flex-direction: column;
        padding: 20px 0px;
    }

    header .search {
        display: flex;
        padding: 5px 0;
        align-items: center;
        justify-content: center;
    }

    header .search form{
        display: flex;
        position: relative;
        width: 100%;
        justify-content: center;
        max-width: 100%;
    }

}

header h2{
    font-size: 2em;
    color: white;
}

header .search{
    background-color: white;
    border-radius: 100px;
    position: relative;
}

header .search form input{
    padding: 10px 10px;
    outline: none;
    border: none;
    background-color: transparent;
}

header .search form button{
    background-color: transparent;
    padding: 10px 10px;
    position: relative;
    color: black;
    border: none;
}

header .search form input.error::placeholder{
    color: rgb(255, 0, 0);
}

.search .results {
    background-color: white;
    top: 60px;
    z-index: 99999;
    position: absolute;
    width: 350px;
    max-width: 100vw;
    max-height: 200px;
    padding: 0px 0px;
    border: 1px solid black;
    overflow-y: auto;
}

.search .results ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search .results ul > li {
    font-size: 0.9em;
    cursor: pointer;
    background-color: white;
    padding: 10px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search .results ul > li:hover {
    background-color: #dad7d7;
}


.search .results ul > li:not(:last-child){
    border-bottom: 1px solid black;
}


body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( 111.4deg,  rgb(36, 2, 30) 6.5%, rgb(44, 4, 37) 93.2% );
    font-family: 'Roboto', 'Times new Roman';
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    transition: all 0.5s ease;

    
}


.home .current {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.home .current .temperature {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    width: 500px;
    padding: 10px 50px;
    min-height: 150px;

}

.home .current .temperature .city h2{
    font-size: 48px;
}

.home .current .temperature .city p{
    font-size: 18px;
    color: #777;
}


.timebyhours {
    width: 1000px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    color: #3b3a3a;
    padding: 15px 0;
    background-color: white;
    border-radius: 6px;
}

.timebyhours::-webkit-scrollbar{
    width: 100%;
    height: 8px;
}

.timebyhours::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}


/* Handle */
.timebyhours::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .timebyhours::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.timebyhours .hourbyhour{
    display: flex;
    flex-direction: column;
    min-width: 80px;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    color: rgb(0, 0, 0);
}

.hourbyhour:not(:first-child){
    border-left: 2px solid #c4c4c4;
    border-radius: 2px;
}

.hourbyhour-temperature {
    min-height: 250px;
    height: 250px;
}

.temperatureimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 250px; 
    /*height: 50px;  50 to 250px 5px por cada grado que baje */
}

.temperatureimg img{
    width: 32px;
    height: 32px;
}

.viento {
    transform: rotate(--dirviento);
}

.timetoday {
    max-width: 100%;
    text-align: center;
    overflow-x: auto;
}

.timetodaytable{
    max-width: 100%;
    width: 1000px;
}

.timetodaytable table{
    border: none;
}

.timetoday table tbody tr:nth-child(even){
    background-color: #cacaca;
}

.timetoday table tr {
    height: 30px;
}

.timethisday {
    display: flex;
    flex-direction: column;
    width: 1000px;
    max-width: 100%;
    overflow-x: hidden;
    border-radius: 15px;

}

.ttd-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
}

.ttd-row:nth-child(odd){
    background-color: rgb(247, 245, 245);
}

.header-row {
    font-weight: bold;
    color: white;
}




.info-row {
    background-color: grey;
    padding: 20px 30px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 55px;
    row-gap: 30px;
}

.moreinfobutton {
    min-width: 20px;
    max-width: 20px;
}

.more-data {
    position: relative;
    display: flex;
    flex-direction: column;
}

.ttd-col{
    flex: 1;
    min-width: 100px;
    padding: 10px 0;
}


.header-row .ttd-col{
    background-color: #1d7eb6;
}

.ttd-row:not(:first-child){
    border-bottom: 1px solid #cccccc;
}

@media only screen and (max-width: 530px) {
    .onlydesktop {
        display: none;
    }
}

.timetodayheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
    padding: 10px 0;
    color: white;
}

.timetodayheader i{
    color: #1d7eb6;
    cursor: pointer;
}

.timetodayheader .hide{
    display: none;
}

.noresults {
    color: yellow;
    text-shadow: 3px 0px 7px rgba(81,67,21,0.8), -3px 0px 7px rgba(81,67,21,0.8), 0px 4px 7px rgba(81,67,21,0.8);
}

.temperature img.sun {
    animation: rotatesun 5s linear infinite;
}

 @keyframes rotatesun {
    0% {
        transform: rotate(0) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.2);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
 }

 .favorite {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 1.5em;
 }