* {
    margin:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #064468;
    font-family: 'Roboto', sans-serif;
    
}


.tickets {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 100%;
    margin: 15px 0;
}

.ticket {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: orange;
    /* width: 396px; */
    max-width: 100%;
    height:150px;
    outline: 1px solid black;
    margin: 10px 10px;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 50px;
    width: 36px;
    background-color: white;
}

.square:not(.empty){
    cursor: pointer;
}

.empty {
    background-color: rgb(22, 119, 247);
}

.out{
    background-color: #257d08;
    color: white;
}

.generateTickets {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.generateTickets button {
    padding: 10px 10px;
    background-color: #041f2e;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    margin: 0px 5px;
    cursor: pointer;
}

.returnToMenu {
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid wheat;
    border-radius: 4px;
    cursor: pointer;
}