* {
    margin:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #064468;
}


.tickets {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 100%;
}

.ticket {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: orange;
    /* width: 396px; */
    max-width: 100%;
    height:150px;
    outline: 1px solid black;
    margin-bottom: 15px;
    margin-right: 15px;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 50px;
    width: 36px;
    background-color: white;
}

.empty {
    background-color: rgb(22, 119, 247);
}

.out{
    background-color: #257d08;
    color: white;
}

.generateTickets {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.generateTickets button {
    padding: 10px 10px;
    background-color: #041f2e;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    margin: 0px 5px;
}